<div class="wraper">
<form [formGroup]="formGroup">
<div class="example-container">
  <mat-form-field>
    <input type="text" matInput  id="firstName" formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput  id="lastName" formControlName="lastName">
  </mat-form-field>
  
  <mat-form-field>
    <input type="number" matInput  id="age" formControlName="age">
  </mat-form-field>

<div class="buttons">
    <button type="submit" mat-button color="primary"  (click)="edit()">Add</button>
    <button type="submit" mat-button color="warn"  (click)="goToUsers()">Back</button>
  </div>
  </div>
</form>
</div>
