<div class="search" *ngIf="!expired">
  <div class="search-input">
    <input type="text" placeholder="Search for user..." 
    class="form-control" [(ngModel)]="text">
  </div>
  <div class="new-user">
    <button class="btn btn-warning" 
    (click)="getAccess('add')"><i class="fas fa-user-plus"></i>New user</button>
  </div>
</div>
<div *ngIf="expired" class="alert alert-danger search">
  {{expired}} Please Login <a (click)="goToLogin()" href="">here.</a>
</div>
<div class="users" *ngIf="!expired">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col" colspan="3" style="text-align: center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | search:text">
      <th scope="row">{{user.id}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.age}}</td>
      <td><button type="button" class="btn btn-warning" (click)="getAccess('edit', user)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="getAccess('delete', user)">Delete</button></td>
    </tr>
    </tbody>
    </table>
    <div *ngIf="message" class="alert alert-danger">
      {{message}}
    </div>
</div>